{% extends 'base.html' %}
{% if lands_bought %}
    {% block content %}
        <div class="col col-md-6">
            <table class="table table-responsive">
                <tr>
                    <td>Title Deed</td>
                    <td>Land Size</td>
                    <td>Price (Ksh)</td>
                    <td>Price (Ksh)</td>
                    <td>Change Ownership</td>
                </tr>
                <tr>
                    {% for land in lands_bought %}
                        <td>{{ land.title_deed_no }}</td>
                        <td>{{ land.approximate_size }}</td>
                        <td>{{ land.sale_price }}</td>
                        <td><a href="#">Change ownership</a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    {% endblock %}
{% else %}
<p>No land bought so far.</p>
{% endif %}